* { box-sizing: border-box; }

header {
  background-color: #B18351;
  text-align: center;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5)
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f7f7f7;
  display: inline-block;
  width: 100%;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

body {
  background-color: #353431;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #DDDBDB;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 200;
}

h2 {
  font-size: 2.25em;
  font-weight: 200;
}

h3 {
  font-size: 1.75em;
  font-weight: 200;
}

h4 {
  font-size: 1.35em;
  font-weight: 200;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition: 0.2s opacity;
}
.button, .button:visited {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  text-decoration: none;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  font-size: 32px;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #B18351;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

.logo {
  max-width: 150px;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.social-icons {
  text-align: center;
}
.social-icons svg {
  max-width: 65px;
  padding-left: 20px;
  margin-bottom: 15px;
}
.project-imgs {
  max-width: 200px;
}
.project-uf {
  max-width: 400px;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    padding-bottom: 0px;
  }
  .logo {
    max-width: 150px;
    padding-left: 15px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
      font-size: 18px;
  }

  #hero span {
    display: block;
  }
  #hero h1 {
    font-size: 40px;
  }
  .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-page h3 {
  margin-top: 0;
}
}

@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  max-width: 150px;
  padding-left: 15px;
}
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
}

@media only screen and (min-width: 1440px) {}
