body {
   background-color: #353431;
   font-family: 'font-family: 'Raleway', sans-serif;'
   font-size: 16px; /* Sets the font size to 16px */
   font-weight: 200; /* Sets the font weight to 200 */
   line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
 }
 /*
Colors used:
Primary Color (sand): #fffefa;
Secondary Color (lightgold): #ecebbc;
Tertiery Color (water): #73baf2
*/

 h1, h2, h3, h4 {
   line-height: 1.4;
 }
 h1 {
   font-size: 2.75em;
   font-weight: 200;
 }

 h2 {
   font-size: 2.25em;
   font-weight: 200;
 }

 h3 {
   font-size: 1.75em;
   font-weight: 200;
 }
 h4 {
   font-size: 1.35em;
   font-weight: 200;
 }


 img {
  width: 100%;
}
